## IMPORTING THE REQUIRED LIBRARIES

In [13]:
import numpy as np
import pandas as pd
from IPython import display

## IMPORTING THE DATA

In [3]:
data = pd.read_csv('data.csv', low_memory = False)

## CHECKING NULL VALUES IN ALL THE COLUMNS

In [10]:
columns_nan_values = pd.DataFrame()
columns, nan_values = list(), list()

for column in data.columns:
    if data[column].isna().mean() > 0:
        nan_values.append(data[column].isna().mean())
        columns.append(column)

columns_nan_values['column'] = columns
columns_nan_values['nan_values'] = nan_values

## DISPLAYING THE COLUMNS WITH NAN VALUES

In [17]:
print('COLUMNS WITH NAN VALUES')
print('-----------------------')
display.display(columns_nan_values)

COLUMNS WITH NAN VALUES
-----------------------

      column  nan_values
0        AGE    0.248030
1    NUMCHLD    0.870184
2     INCOME    0.223096
3    WEALTH1    0.468830
4    MBCRAFT    0.553955
..       ...         ...
87  RAMNT_24    0.814090
88  NEXTDATE    0.104526
89   TIMELAG    0.104526
90  CLUSTER2    0.001383
91  GEOCODE2    0.001383

[92 rows x 2 columns]

## CREATING A LIST THAT IS GOING TO HAVE THE COLUMNS THAT WE ARE GOING TO DROP

In [18]:
to_drop_columns = list()

## APPENDING INSIDE THE COLUMNS TO DROP LIST THE COLUMNS OSOURCE AND ZIP CODE

In [23]:
to_drop_columns.append('ZIP')
to_drop_columns.append('OSOURCE')

## APPENDING INSIDE THE COLUMNS TO DROP LIST THE COLUMNS WITH MORE THAN 0.85 OF NAN VALUES

In [24]:
for column in data.columns:
    if data[column].isna().mean() > 0.85:
        if column not in to_drop_columns:
            to_drop_columns.append(column)

## REMOVING ALL THE COLUMNS INSIDE THE COLUMNS TO DROP LIST FROM THE DATAFRAME

In [26]:
data = data.drop(columns = to_drop_columns)

## FILLING THE NAN VALUES OF THE GENDER COLUMN WITH THE F VALUE

In [27]:
data['GENDER'] = data['GENDER'].fillna('F')

## REDUCING THE NUMBER OF CATEGORIES IN THE GENDER COLUMN

In [30]:
def not_male_female(gender):

    if gender == 'F':
        return 'F'

    elif gender == 'M':
        return 'M'

    else:
        return 'OTHER'

data['GENDER'] = data['GENDER'].apply(not_male_female)